body {
  background-image: url("https://cdn.glitch.global/67d08e07-51eb-48db-bfb8-6370299409b6/martinbeach.jpg?v=1736354559625");
  text-align: center;
  color: pink;
}


#myCanvas {
  background-image: url("https://cdn.glitch.global/67d08e07-51eb-48db-bfb8-6370299409b6/squid-game-2-spoilers-v0-7mk3p965yaae1.webp?v=1736266356909");
  background-size: 800px;
  border-radius: 80px;
  border: 1px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

h2
{text-align:center;}

img{
  text-align:center;
}


/* <img src="https://cdn.glitch.global/67d08e07-51eb-48db-bfb8-6370299409b6/Martinpose.webp?v=1736354131568"> */